.navbar {
  background-color: white;
  border-bottom: 1px solid darkgray;
}

.btn-outline-success {
  btn-border-color: darkgray;
}

card-text.detail {
  border-bottom: 1px solid darkgray;
}

.footer {
  background-color: #f4f4f6;
}
